/* Materialize */
@import "materialize/components/color-variables";
$primary-color: color("green", "accent-3") !default;
$secondary-color: color("teal", "base") !default;
@import 'materialize';
@import 'material_icons';
[v-cloak] {
  display: none;
}
.display_none {
  display:none;
}
// 打ち消し線を引く
.line-through {
  text-decoration: line-through;
}